<ion-header translucent={true}>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/" text="Back"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" fullscreen={true}>
    <div class="container">
        <div>
            <h3>Welcome to Ewone</h3>
            <h3>please sign in</h3>
            <asl-google-signin-button type='standard' size="large"></asl-google-signin-button>
        </div>
    </div>
</ion-content>