<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="main-tab">
      <ion-icon name="copy-outline"></ion-icon>
      <ion-label>Flashcards</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="dictionary-tab">
      <ion-icon name="search-outline"></ion-icon>
      <ion-label>Dictionary</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="profile-tab">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>